@using AirWaze.Controllers
@{
    int flightCounter = 1;
}
<link rel="stylesheet" href="~/css/flightindex.css">

<div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Approve Schedule</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />



<h1>Are you sure you want to approve the following schedule?</h1>
<br />
<br />
<h2 style="margin-left: 0; font-weight: bolder;">@AdminController.scheduleToApprove.Date.DayOfWeek @AdminController.scheduleToApprove.Date.ToString("dd/MM/yyyy hh:mm")</h2>
<br />
@if(@AdminController.scheduleToApprove.Flights.Count == 0)
{
    <p>There are no flights in this schedule.</p>
}
else
{
@foreach(var flight in @AdminController.scheduleToApprove.Flights)
{
    <h3 style="margin-left: 0;">@flightCounter: @AdminController.scheduleToApprove.Flights[flightCounter-1].Departure.ToString("dd/MM/yyyy hh:mm") - @AdminController.scheduleToApprove.Flights[flightCounter-1].FlightNr - @AdminController.scheduleToApprove.Flights[flightCounter-1].Destination.Name</h3>
    flightCounter++;
    }
}
<br />
<a class="btn btn-danger active" asp-controller="Admin" asp-action="DeleteSchedule">No - Delete this Schedule</a> 
@if(@AdminController.scheduleToApprove.Flights.Count > 0)
{
    <a class="btn btn-warning active" asp-controller="Admin" asp-action="Schedule">No - Go Back</a>
    <a class="btn btn-success active" asp-controller="Admin" asp-action="ConfirmApproveSchedule">Yes - Approve</a>
}





