@using AirWaze.Controllers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model List<PlaneListViewModel> 
    
}

<head>
	 <link rel="stylesheet" href="~/css/planeindex.css">
</head>

    <div style="padding-top:200px;"></div>
   
                <h1>Manage planes</h1>
                @*<h1 style="color:red;">Hallo Admin</h1>*@
                <div>
                <form asp-action="Index" method="get">
                    <div class="form-actions no-color">
                        <p>
                            Search by: &nbsp;
                            @Html.RadioButton("option", "Name") Name &nbsp;
                            @Html.RadioButton("option", "Type") Type &nbsp;
                            @Html.RadioButton("option", "Date") Date &nbsp;
                            @Html.RadioButton("option", "Capacity") Capacity &nbsp; &nbsp;
                        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /> &nbsp;
                        <input class="btn btn-primary" type="submit" value="Search"/> &nbsp;
                        <a href="/Plane/Index" class="btn btn-primary">Show All Planes</a> 
                        </p>
                    </div>
                </form>
                </div>
                <br/>
                <div class="planeindexcontainer">
                    @if (Model.Count != 0)
                    {
                        <div class="progress-table-wrap">
						                    <div class="progress-table">
							                    <div class="table-head">
                                                     <div class="serial" style="padding-left:20px;padding-right:20px;margin-left:20px">Logo</div>
                                                    <div class="serial" style="padding-left:20px;padding-right:20px">Airliner</div>
								                    <div class="serial" style="padding-left:20px;padding-right:20px">Nr</div>
								                    <div class="visit" style="padding-left:20px;padding-right:20px">Capacity</div>
								                    <div class="visit" style="padding-left:20px;padding-right:20px">Region</div>
								                    <div class="visit" style="padding-left:20px;padding-right:20px">Manfufacturer</div>
								                    <div class="visit" style="padding-left:20px;padding-right:20px">Type</div>
								                    <div class="visit" style="padding-left:20px;padding-right:20px">ConstructionYear</div>
								                    <div class="percentage"></div>
								                    <div class="percentage"></div>
								                    <div class="percentage"></div>
							                    </div>
							                     @foreach (var plane in Model)
							                    {
								                    <div class="table-row">
                                                        <div class="serial" style="padding-left:20px;padding-right:20px;margin-left:20px">
                                                                <img src="@Url.Content(@plane.CurrentAirline.Logo)" alt="Sample Image" width="60" height="60" />
                                                        </div>
                                                        <div class="serial" style="padding-left:20px;margin-right:20px">@plane.CurrentAirline.NameTag</div>                                                                       
									                    <div class="serial" style="padding-left:20px;padding-right:20px">@plane.PlaneNr</div>
									                    <div class="visit" style="padding-left:20px;padding-right:20px">@plane.PassengerCapacity</div>
									                    <div class="visit" style="padding-left:20px;padding-right:20px">@plane.FlightRegion</div>
									                    <div class="visit" style="padding-left:20px;padding-right:20px">@plane.Manufacturer</div>
									                    <div class="visit" style="padding-left:20px;padding-right:20px">@plane.Type</div>
									                    <div class="visit" style="padding-left:20px;padding-right:20px">@plane.ConstructionYear</div>
									                    <div class="visit" style="padding-left:20px;padding-right:20px"><a class="genric-btn info circle arrow" asp-action="Detail" asp-controller="Plane" asp-route-ID=@plane.PlaneNr>Detail</a></div>
									                    <div class="visit" style="padding-left:20px;padding-right:20px"><a class="genric-btn warning circle arrow" asp-action="Update" asp-controller="Plane" asp-route-ID=@plane.PlaneNr>Edit</a></div>
									                    <div class="visit" style="padding-left:20px;padding-right:20px"><a class="genric-btn danger circle arrow" asp-action="Delete" asp-controller="Plane" asp-route-ID=@plane.PlaneNr>Delete</a></div>									
								                    </div>						
							                    }
                                              </div>
                        </div>
                    }
                     else
                        {
                            <h1>No Planes Currently Available</h1>
                        }
                    <div style="padding-top:100px;padding-left:200px;padding-bottom:100px">
                     <a class="genric-btn primary e-large" asp-area="" asp-controller="Plane" asp-action="Type" style="width:600px;">Add New Plane</a>
                    </div> 
                    </div>                   
            </div>
        </div>

<script src="~/lib/bootstrap/bootstrap-admin/popper.min.js"></script>
<link href="~/lib/bootstrap/bootstrap-admin/bootstrap-parkeasy.css" rel="stylesheet" />
<link href="~/lib/bootstrap/bootstrap-admin/dashboard.css" rel="stylesheet" />
