@using AirWaze.Controllers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model List<PlaneListViewModel> 
    
}



<div>
    <h1 style="color:red;"></h1>
    
    @if (Model.Count != 0)
    {
        <h1>Overview Planes:</h1>  

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Capacity</th>
                    <th>Region</th>
                    <th>Available</th>
                    <th>Manufacturer</th>
                    <th>Type</th>
                    <th>ConstructionYear</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>            
                @foreach (var plane in Model)
                {
                    <tr>
                        <td>@plane.PlaneNr</td>
                        <td>@plane.PassengerCapacity</td>                       
                        <td>@plane.FlightRegion</td>
                        <td>@plane.IsAvailable</td>
                        <td>@plane.Manufacturer</td>
                        <td>@plane.Type</td>
                        <td>@plane.ConstructionYear</td>
                        <td><a class="btn btn-primary" asp-action="Detail" asp-controller="Plane" asp-route-ID=@plane.PlaneNr>Detail</a></td>
                        <td><a class="btn btn-secondary" asp-action="Update" asp-controller="Plane" asp-route-ID=@plane.PlaneNr>Edit</a></td>
                        <td><a class="btn btn-secondary" asp-action="Delete" asp-controller="Plane" asp-route-ID=@plane.PlaneNr>Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1>No Planes Currently Available</h1>
    }
    <div style="margin:100px;">
 

 <a class="btn btn-secondary" asp-area="" asp-controller="Plane" asp-action="Type" style="margin-left:250px;width:600px;">Add New Plane *Blazor*</a>
  </div> 

</div>




