
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.Extensions.Logging
@using Blazor.Extensions; 
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D;
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@using Microsoft.JSInterop
@using BrowserInterop.Extensions
@using BrowserInterop.Geolocation  
@using AirWaze.Entities

@inject ILogger<Canvasformap> Logger
@inject IJSRuntime jsRuntime


<h1>Klik op areas voor mee info</h1>
<section class="page-section">
            <div class="container">
                <div class="product-item">
                    @if (selectedService != 0)
            {
                <div class="product-item-title d-flex" style="width:200px;margin-left:900px;">
                    <div class="bg-faded p-5 d-flex ms-auto rounded">
                        @switch (@selectedService)
                        {
                            case 1:
                                <span class="section-heading-upper">Gate 1 - 2</span>
                                <div style="margin-bottom:10px">
                                    <img src="Images/gates.jpg" alt="Sample Image" width="100" height="50"/>
                                </div>
                                <h2 class="section-heading mb-0">                                   
                                    <span class="section-heading-lower">@distancealdi.ToString("0,00") m distance from your current position, bearing @bearingaldi.ToString("0,00")</span>
                                </h2>
                                break;
                            case 2:
                                <span class="section-heading-upper">Gate 3 - 4</span>
                                <div style="margin-top:10px;margin-bottom:10px">
                                    <img src="Images/gates.jpg" alt="Sample Image" width="100" height="50"/>
                                </div>
                                <h2 class="section-heading mb-0">                                   
                                    <span class="section-heading-lower">@distancealdi.ToString("0,00") m distance from your current position, bearing @bearingaldi.ToString("0,00")</span>
                                </h2>
                                break;
                            case 3:
                                <span class="section-heading-upper">Gate 5 - 6</span>
                                <div style="margin-top:10px;margin-bottom:10px">
                                    <img src="Images/gates.jpg" alt="Sample Image" width="100" height="50"/>
                                </div>
                                <h2 class="section-heading mb-0">                                   
                                    <span class="section-heading-lower">@distancealdi.ToString("0,00") m distance from your current position, bearing @bearingaldi.ToString("0,00")</span>
                                </h2>
                                break;
                            case 4:
                                <span class="section-heading-upper">Gate 7 - 8 - 9</span>
                                <div style="margin-top:10px;margin-bottom:10px">
                                    <img src="Images/gates.jpg" alt="Sample Image" width="100" height="50"/>
                                </div>
                                <h2 class="section-heading mb-0">                                   
                                    <span class="section-heading-lower">@distancealdi.ToString("0,00") m distance from your current position, bearing @bearingaldi.ToString("0,00")</span>
                                </h2>
                                break;
                            case 5:
                                <span class="section-heading-upper">Gate  - 20</span>
                                <div style="margin-gatesop:10px;margin-bottom:10px">
                                    <img src="Images/gates.jpg" alt="Sample Image" width="100" height="50"/>
                                </div>
                                <h2 class="section-heading mb-0">                                   
                                    <span class="section-heading-lower">@distancealdi.ToString("0,00") m distance from your current position, bearing @bearingaldi.ToString("0,00")</span>
                                </h2>
                                break;
                            case 6:
                                <span class="section-heading-upper">BurgerKing</span>
                                <div style="margin-top:10px;margin-bottom:10px">
                                    <img src="Images/burgerking.jpg" alt="Sample Image" width="100" height="50"/>
                                </div>
                                <h2 class="section-heading mb-0">                                   
                                   <span class="section-heading-lower">@distancepitta.ToString("0,00") m distance from your current position, bearing @bearingpitta.ToString("0,00")</span>
                                </h2>
                                break;
                            case 7:
                                <span class="section-heading-upper">TaxFreeShop</span>
                                <div style="margin-top:10px;margin-bottom:10px">
                                    <img src="Images/Dutyfree.jpg" alt="Sample Image" width="100" height="50"/>
                                </div>
                                <h2 class="section-heading mb-0">                                   
                                    <span class="section-heading-lower">@distancefrietkot.ToString("0,00") m distance from your current position, bearing @bearingfrietkot.ToString("0,00")</span>
                                </h2>
                                break;
                            default:
                                break;
                        }                            
                    </div>
                </div>
            }
            <div class="haraldcontainer" style="margin-left:200px;">
                    <div @onmousedown="ReportPointerLocation">
                        <BECanvas Width="600" Height="800" @ref="_canvasReference" >   
                        </BECanvas>
                    </div>
                </div>
                @if (selectedService != 0)
            {
                <div class="product-item-description d-flex me-auto">
                    <div class="bg-faded p-5 rounded">
                        @switch (@selectedService)
                        {
                            case 1:
                                <span class="section-heading-upper">Gate 1 - 4</span>
                                <div style="margin-top:10px;margin-bottom:10px">
                                    <img src="Images/gates.jpg" alt="Sample Image" width="100" height="50"/>
                                </div>
                                <h2 class="section-heading mb-0">                                   
                                    <span class="section-heading-lower">@distancealdi.ToString("0,00") m distance from your current position</span>
                                </h2>
                                break;
                            case 2:
                                <span class="section-heading-upper">Gate 5 - 8</span>
                                <div style="margin-top:10px;margin-bottom:10px">
                                    <img src="Images/gates.jpg" alt="Sample Image" width="100" height="50"/>
                                </div>
                                <h2 class="section-heading mb-0">                                   
                                    <span class="section-heading-lower">@distancealdi.ToString("0,00") m distance from your current position</span>
                                </h2>
                                break;
                            case 3:
                                <span class="section-heading-upper">Gate 9 - 12</span>
                                <div style="margin-top:10px;margin-bottom:10px">
                                    <img src="Images/gates.jpg" alt="Sample Image" width="100" height="50"/>
                                </div>
                                <h2 class="section-heading mb-0">                                   
                                    <span class="section-heading-lower">@distancealdi.ToString("0,00") m distance from your current position</span>
                                </h2>
                                break;
                            case 4:
                                <span class="section-heading-upper">Gate 13 - 16</span>
                                <div style="margin-top:10px;margin-bottom:10px">
                                    <img src="Images/gates.jpg" alt="Sample Image" width="100" height="50"/>
                                </div>
                                <h2 class="section-heading mb-0">                                   
                                    <span class="section-heading-lower">@distancealdi.ToString("0,00") m distance from your current position</span>
                                </h2>
                                break;
                            case 5:
                                <span class="section-heading-upper">Gate 17 - 20</span>
                                <div style="margin-top:10px;margin-bottom:10px">
                                    <img src="Images/gates.jpg" alt="Sample Image" width="100" height="50"/>
                                </div>
                                <h2 class="section-heading mb-0">                                   
                                    <span class="section-heading-lower">@distancealdi.ToString("0,00") m distance from your current position></span>
                                </h2>
                                break;
                            case 6:
                                <span class="section-heading-upper">BurgerKing</span>
                                <div style="margin-top:10px;margin-bottom:10px">
                                    <img src="Images/burgerking.jpg" alt="Sample Image" width="100" height="50"/>
                                </div>
                                <h2 class="section-heading mb-0">                                   
                                    <span class="section-heading-lower">@distancepitta.ToString("0,00") m distance from your current position</span>
                                </h2>
                                break;
                            case 7:
                                <span class="section-heading-upper">TaxFreeShop</span>
                                <div style="margin-top:10px;margin-bottom:10px">
                                    <img src="Images/Dutyfree.jpg" alt="Sample Image" width="100" height="50"/>
                                </div>
                                <h2 class="section-heading mb-0">                                   
                                    <span class="section-heading-lower">@distancefrietkot.ToString("0,00") m distance from your current position</span>
                                </h2>
                                break;
                            default:
                                break;
                        }              
                    </div>
                </div>
            }
        </div>
            </div>
        </section>
<p>@mousePointerMessage</p>

<a class="btn btn-primary" @onclick="KillEvents" href="/">Dispose Events + Timer -- BELANGRIJK -- Link nr Index</a>


@code {
    private int selectedService = 0;

    private WindowNavigatorGeolocation geolocationWrapper;
    private GeolocationPosition currentPosition;
    private GeolocationPosition oldposition;
    private List<GeolocationResult> positioHistory = new List<GeolocationResult>();
    private Canvas2DContext _context;
    protected BECanvasComponent _canvasReference;
    private string? mousePointerMessage;     
    private static System.Timers.Timer thisTimer;
    private int counter = 0;
    private double mybearing;
    private double targetbearing;

    //Airport Coordinates

    private double distancegates12;
    private double distancegates34;
    private double distancegates56;
    private double distancegates789;
    private double bearinggates12;
    private double bearinggates34;
    private double bearinggates56;
    private double bearinggates789;

    //specific doubles for sintNiklaas

    private double herderstraatlon = 4.142743;
    private double herderstraatlat = 51.171666;
    private double regentiestraatlon = 4.142771;
    private double regentiestraatlat = 51.168555;
    private double basisschoollon = 4.135054;
    private double basisschoollat = 51.168353;
    private double distanceregentiestraat;
    private double distanceherderstraat;
    private double distancebasisschool;
    private double bearingherderstraat;
    private double bearingregentiestraat;
    private double bearingbasisschool;

    //constantes voor veld : 0.00001239875 vr Lat
    // 0.0000166383333333 vr Lon
    //veld : 51.177484 - 51; 51.167565
    // 4.143673 - 4.133690

    //specific doubles for Wondelgem  //VS ALDI-fietkot-PITTA

    private double aldilon = 3.717714;
    private double aldilat = 51.084001;
    private double pittalon = 3.716733;
    private double pittalat = 51.080390;
    private double frietkotlon = 3.711019;
    private double frietkotlat =  51.083220;
    private double distancealdi;
    private double distancepitta;
    private double distancefrietkot;
    private double bearingpitta;
    private double bearingfrietkot;
    private double bearingaldi;


    protected override async Task OnInitializedAsync()
    {
        var window = await jsRuntime.Window();
        var navigator = await window.Navigator();
        geolocationWrapper = navigator.Geolocation;
        await StartTimer();
    }

    public async Task StartTimer()
    {

        await GetGeolocation();
        thisTimer = new System.Timers.Timer(1000);
        thisTimer.Elapsed += CountDownTimer;
        thisTimer.Enabled = true;

    }

    public void CountDownTimer(Object source, System.Timers.ElapsedEventArgs e)
    {
        if (counter % 5 == 0 && counter > 5)
        {
            if (oldposition == null && currentPosition != null)
            {
                oldposition = currentPosition;
            }
            if (oldposition.Coords != currentPosition.Coords)
            {
                mybearing = DegreeBearing(oldposition.Coords.Longitude, oldposition.Coords.Latitude, currentPosition.Coords.Longitude, currentPosition.Coords.Latitude);
                oldposition = currentPosition;
            }
            GetGeolocation();            
           
        } 
         counter++;

        InvokeAsync(StateHasChanged);
    }

    public async Task GetGeolocation()
    {
        int x;
        int y;
        currentPosition = (await geolocationWrapper.GetCurrentPosition(new PositionOptions()
        {
            EnableHighAccuracy = true,
            MaximumAgeTimeSpan = TimeSpan.FromHours(1),
            TimeoutTimeSpan = TimeSpan.FromMinutes(1)
        })).Location;
        this._context = await this._canvasReference.CreateCanvas2DAsync();       
        if (currentPosition.Coords.Latitude < 51.084944 && currentPosition.Coords.Latitude > 51.0802263 && currentPosition.Coords.Longitude < 3.719737 && currentPosition.Coords.Longitude > 3.709195)
        {
            x = (int)Math.Round(((51.084944 - currentPosition.Coords.Latitude / 800) /  0.0001757)/1000);
            y =  (int)Math.Round(((3.719737 - currentPosition.Coords.Longitude / 600) / 0.000005897125)/1000);
            await this._context.SetFillStyleAsync("black");      
            await this._context.FillRectAsync(x, y, 20, 20);
            await this._context.SetFillStyleAsync("red");      
            await this._context.FillRectAsync((x-10), (y-10), 10, 10);             
            await this._context.SetFontAsync("46px Calibri");
            await this._context.StrokeTextAsync("Hier ben Ik", x, y);
        }

        //Sint-Niklaas

        //if (currentPosition.Coords.Latitude < 51.084944 && currentPosition.Coords.Latitude > 51.0802263 && currentPosition.Coords.Longitude < 3.719737 && currentPosition.Coords.Longitude > 3.709195)
        //{
        //    x = (int)Math.Round(((51.177484 - currentPosition.Coords.Latitude / 800) / 0.00001239875)/1000);
        //    y =  (int)Math.Round(((4.143673 - currentPosition.Coords.Longitude / 600) / 0.000016638333)/1000);
        //    await this._context.SetFillStyleAsync("black");      
        //    await this._context.FillRectAsync(x, y, 20, 20);
        //    await this._context.SetFontAsync("46px Calibri");
        //    await this._context.StrokeTextAsync("Hier ben Ik", x, y);
        //}


    }

    private async Task ReportPointerLocation(MouseEventArgs e)
    {
        mousePointerMessage = $"Mouse coordinates: {e.OffsetX}:{e.OffsetY}";
        if (330 < e.OffsetX && 360 > e.OffsetX && 54 < e.OffsetY && 90 > e.OffsetY)
        {
            selectedService = 1;
        }
        else if (547 < e.OffsetX && 578 > e.OffsetX && 49 < e.OffsetY && 90 > e.OffsetY)
        {
            selectedService = 2;
        }
        else if (321 < e.OffsetX && 351 > e.OffsetX && 262 < e.OffsetY && 305 > e.OffsetY)
        {
            selectedService = 3;
        }
        else if (550 < e.OffsetX && 582 > e.OffsetX && 263 < e.OffsetY && 306 > e.OffsetY)
        {
            selectedService = 4;
        }
        else if (322 < e.OffsetX && 350 > e.OffsetX && 474 < e.OffsetY && 518 > e.OffsetY)
        {
            selectedService = 5;
        }
        else if (482 < e.OffsetX && 538 > e.OffsetX && 590 < e.OffsetY && 649 > e.OffsetY)
        {
            selectedService = 6;
        }
        else if (106 < e.OffsetX && 150 > e.OffsetX && 720 < e.OffsetY && 748 > e.OffsetY)
        {
            selectedService = 7;
        }
        else
        {
            selectedService = 0;
        }
        this._context = await this._canvasReference.CreateCanvas2DAsync();
        await GetGeolocation();

        //WOndelgem

        //distancealdi =  GetDistance(aldilon, aldilat);
        //distancefrietkot =  GetDistance( frietkotlon, frietkotlat);
        //distancepitta =  GetDistance(pittalon, pittalat);
        //bearingaldi = DegreeBearing(currentPosition.Coords.Longitude, currentPosition.Coords.Latitude, aldilon, aldilat);
        //bearingpitta = DegreeBearing(currentPosition.Coords.Longitude, currentPosition.Coords.Latitude, pittalon, pittalat);
        //bearingfrietkot = DegreeBearing(currentPosition.Coords.Longitude, currentPosition.Coords.Latitude, frietkotlon, frietkotlat);
        
        //Once DB is Updated
        //distancegates12 = GetDistance(AirWaze.Entities.Airport.Gates[0].CoordsLon, AirWaze.Entities.Airport.Gates[0].CoordsLat);
        //distancegates34 = GetDistance(AirWaze.Entities.Airport.Gates[2].CoordsLon, AirWaze.Entities.Airport.Gates[2].CoordsLat);
        //distancegates56 = GetDistance(AirWaze.Entities.Airport.Gates[4].CoordsLon, AirWaze.Entities.Airport.Gates[4].CoordsLat);
        //distancegates789 = GetDistance(AirWaze.Entities.Airport.Gates[6].CoordsLon, AirWaze.Entities.Airport.Gates[6].CoordsLat);
        // bearinggates12 = DegreeBearing(currentPosition.Coords.Longitude, currentPosition.Coords.Latitude, AirWaze.Entities.Airport.Gates[0].CoordsLon, AirWaze.Entities.Airport.Gates[0].CoordsLat);
        // bearinggates34 = DegreeBearing(currentPosition.Coords.Longitude, currentPosition.Coords.Latitude, AirWaze.Entities.Airport.Gates[2].CoordsLon, AirWaze.Entities.Airport.Gates[2].CoordsLat);
        // bearinggates56 = DegreeBearing(currentPosition.Coords.Longitude, currentPosition.Coords.Latitude, AirWaze.Entities.Airport.Gates[4].CoordsLon, AirWaze.Entities.Airport.Gates[4].CoordsLat);
        // bearinggates789 = DegreeBearing(currentPosition.Coords.Longitude, currentPosition.Coords.Latitude, AirWaze.Entities.Airport.Gates[6].CoordsLon, AirWaze.Entities.Airport.Gates[6].CoordsLat);

        //SintNiklaas
        distanceregentiestraat =  GetDistance(regentiestraatlon, regentiestraatlat);
        distanceherderstraat =  GetDistance( herderstraatlon, herderstraatlat);
        distancebasisschool =  GetDistance(basisschoollon, basisschoollat);
        bearingherderstraat = DegreeBearing(currentPosition.Coords.Longitude, currentPosition.Coords.Latitude, herderstraatlon, herderstraatlat);
        bearingregentiestraat = DegreeBearing(currentPosition.Coords.Longitude, currentPosition.Coords.Latitude, regentiestraatlon, regentiestraatlat);
        bearingbasisschool = DegreeBearing(currentPosition.Coords.Longitude, currentPosition.Coords.Latitude, basisschoollon, basisschoollat);
    }


    protected async Task OnRenderAsync(bool firstRender)
    {
        this._context = await this._canvasReference.CreateCanvas2DAsync();        
    }

    public static double Radians(double x)
    {
        double PIx = 3.141592653589793;
        return x * PIx / 180;
    }

    public static double DistanceBetweenPlaces(double lon1, double lat1, double lon2, double lat2)
    {
        double RADIUS = 6378.16;
        double dlon = Radians(lon2 - lon1);
        double dlat = Radians(lat2 - lat1);
        double a = (Math.Sin(dlat / 2) * Math.Sin(dlat / 2)) + Math.Cos(Radians(lat1)) * Math.Cos(Radians(lat2)) * (Math.Sin(dlon / 2) * Math.Sin(dlon / 2));
        double angle = 2 * Math.Atan2(Math.Sqrt(a), Math.Sqrt(1 - a));
        return angle * RADIUS;
    }


    public double GetDistance(double x, double y)
    {
        return DistanceBetweenPlaces(currentPosition.Coords.Longitude, currentPosition.Coords.Latitude, x, y) *1000;

    }

    public async Task KillEvents()
    {

        if (thisTimer != null)
        {
            thisTimer.Dispose();
        }        
    }
    
    static double DegreeBearing(double lat1, double lon1, double lat2, double lon2)
    {   
        var dLon = ToRad(lon2-lon1);
        var dPhi = Math.Log(
            Math.Tan(ToRad(lat2)/2+Math.PI/4)/Math.Tan(ToRad(lat1)/2+Math.PI/4));
        if (Math.Abs(dLon) > Math.PI) 
            dLon = dLon > 0 ? -(2*Math.PI-dLon) : (2*Math.PI+dLon);
        return ToBearing(Math.Atan2(dLon, dPhi));
    }

    public static double ToRad(double degrees)
    {
        return degrees * (Math.PI / 180);
    }

    public static double ToDegrees(double radians)
    {
        return radians * 180 / Math.PI;
    }

    public static double ToBearing(double radians) 
    {        
        return (ToDegrees(radians) +360) % 360;
    }




       
 }
