@using AirWaze.Entities
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TicketFlightPickerViewModel
<head>
    <link rel="stylesheet" href="~/css/Tijs.css" asp-append-version="true" />
</head>
<div class="filler"></div>
<main>
    <div class="slider-height d-flex align-items-top">
        <div class="listContainer">
<table class="table">
    <tr>
        <th>Airline</th>
        <th>Destination</th>
        <th>Departure time</th>
        <th></th>
    </tr>
    @foreach (var flight in Model.flightList)
    {
        <tr>
            <td>@flight.CurrentPlane.CurrentAirline.Name</td>
            <td>@flight.Destination.Name</td>
            <td>@flight.Departure</td>
            <td><a class="btn btn-primary" asp-action="Payment" asp-route-ID="@flight.FlightNr" onclick="message()" asp-route-ticket="@Model.TicketNr" style="color:black">Select</a></td>
        </tr>
    }
</table>
</div>
</div>
<a class="btn btn-primary" asp-action="Create">Go Back</a>

</main>
<script type="text/javascript">
        function message()
        {
            Swal.fire({                   
                    position: 'center',
                    icon: 'success',
                    title: 'Ticket Created',
                    showConfirmButton: false,
                    timer: 1500                 
                    });
        }
    </script>