@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model TicketPaymentViewModel
<head>
    <link rel="stylesheet" href="~/css/Tijs.css" asp-append-version="true" />
</head>
<div class="filler"></div>
<main>
    <div class="slider-height d-flex align-items-top">
        <div class="listContainer">
<h1>Payment</h1>
<p>Destination: @Model.CurrentFlight.Destination.Name</p>
<p>Departure: @Model.CurrentFlight.Departure</p>
@if (Model.FirstClass) { <p>First Class</p> } else { <p>Economy</p> }
@if (Model.ExtraLuggage) { <p>with extra luggage</p> } else { <p>with standard luggage</p> }
<h2>Total Price: € @Model.Price.ToString("F2")</h2>
@if(Model.CurrentFlight.CurrentPlane.Type == "A319")
{
    <a class="btn btn-primary" asp-action="SeatPicker" asp-route-ID="@Model.TicketNr">Pick Ticket</a>
}
else
{
    <a class="btn btn-primary" asp-action="ConfirmedPayment" asp-route-ID="@Model.TicketNr">Pay Now</a>
}

<a class="btn btn-danger" asp-action="Delete" asp-route-ID="@Model.TicketNr">Abort</a>
</div>
</div>
</main>

