@using AirWaze.Controllers
@using AirWaze.Models
@using AirWaze.Entities
@model FlightCreateViewModel

@{
    List<Destination> allDestinations = FlightController.destinations.OrderBy(dest => dest.Region).ThenBy(dest => dest.Name).ToList();
}

<link rel="stylesheet" href="~/css/flightindex.css">

<div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center " style="background-image: url(../Images/departures_background.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Add New Flight</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
<form style="margin-right: 65%;" asp-controller="Flight" asp-action="Create" method="post">
    
 <div class="form-group">
        <h3 style="margin-left: 0">Destination:</h3>
        <select name="selectedDestination">
            @foreach(var item in allDestinations)
            {
                    if(@Model.Destination != null)
                    {
                        if(@Model.Destination.Name == item.Name)
                        {
                                <option selected value=@item.Name>@item.Region  - @item.Name</option>
                        }
                        else
                        {
                            <option value=@item.Name>@item.Region  - @item.Name</option>
                        }
                    }
                    else
                    {
                        <option value=@item.Name>@item.Region  - @item.Name</option>
                    }
            }
        </select>
    </div>
    <br />
    <br />
    <br />

    <div class="form-group">
        <h3 style="margin-left: 0">Departure Date & Time:</h3>
        <input class="form-control" asp-for="Departure"/>
        <span asp-validation-for="Departure"></span>
    </div>
     <br />



     <a class="btn btn-danger active" asp-controller="Flight" asp-action="Index">Go Back</a>
     <button class="btn btn-primary active" type="submit">Create Flight</button>
</form>
