@model FlightDetailViewModel

<link rel="stylesheet" href="~/css/flightindex.css">

<div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Flight Details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
<h3>Flight Number</h3>
<div class="details">@Model.FlightNr</div>
<br />
<h3>Destination</h3>
<div class="details">@Model.Destination.Name</div>
<br />
<h3>Airline</h3>
<div class="details">@Model.CurrentPlane.CurrentAirline.Name</div>
<br />
<h3>Departure</h3>
<div class="details">@Model.Departure.ToString("R")</div>
<br />
<h3>Flight Duration (hrs:mns)</h3>
<div class="details">@Model.Destination.FlightTime.ToString("hh':'mm")</div>
<br />
<h3>Distance</h3>
<div class="details">@Model.Destination.Distance km</div>
<br />
<h3>Gate</h3>
@if(Model.CurrentGate.Number == 0)
{
    <div class="details">No Gate assigned yet.</div>
}
else
{
    <div class="details">@Model.CurrentGate.Number</div>
}
<br />
<h3>Current Status</h3>
@switch (Model.Status)
            {
                case 0:
                    <div class="details">Awaiting Approval</div>
                    break;
                case 1:
                    <div class="details">Approved</div>
                    break;
                case 2:
                    <div class="details">Delayed</div>
                    break;
                case 3:
                    <div class="details">Boarding</div>
                    break;
                case 4:
                    <div class="details">Departed</div>
                    break;
                case 5:
                    <div class="details">Arrived</div>
                    break;
                case 6:
                    <div class="details">Cancelled</div>
                    break;
                case 7:
                    <div class="details">Completed</div>
                    break;
                default:
                    break;
            }
            <br />
<h3>Plane</h3>
<div class="details">@Model.CurrentPlane.PlaneNr</div>
<br />
<h3>Runway</h3>
@if(Model.CurrentRunway.Number == 0)
{
    <div class="details">No Runway assigned yet.</div>
}
else
{
    <div class="details">@Model.CurrentRunway.Number</div>
}
<br />
<br />
<a style="margin-left: 25%;" class="btn btn-primary active" asp-controller="Flight" asp-action="Index">Go Back</a>
