@model List<FlightListViewModel>

<div class="container-fluid" style="padding: 0 0 0 0;">
    <div class="row">
        <div class="col-lg-2 bg-dark-blue d-none d-sm-block" style="padding-top: 50px; padding-bottom: 20px;">
                <center><i class="fas fa-user fa-5x text-white" style="padding-bottom: 20px;"></i></center>
                <center>
                    <p style="color:white">@User.Identity.Name</p>
                </center>
            

                <div class="list-group text-left font-weight-bold" style="padding-top: 30px;">
                    <a class="list-group-item" asp-action="Index" asp-controller="Admin"><i class="fas fa-tachometer-alt text-white"> &nbsp; Dashboard</i></a>
                    <a class="list-group-item" asp-action="ListAllRoles" asp-controller="Role"><i class="fas fa-user text-white"> &nbsp; Manage roles</i></a>
                    <a class="list-group-item" asp-action="List" asp-controller="Airline"><i class="fa fa-user-check text-white">&nbsp; Airlines</i></a>
                    <a class="list-group-item" asp-action="List" asp-controller="Plane"><i class="fa fa-plane text-white"></i>&nbsp; Planes</i></a>
                    <a class="list-group-item" asp-action="Index" asp-controller="Flight"><i class="fa fa-plane-departure text-white">&nbsp; Flights</i></a> 
                    <a class="list-group-item" asp-action="Schedule" asp-controller="Admin"><i class="fa fa-clock text-white">&nbsp; Schedule</i></a>  
                </div>
        </div>
        <div class="col-lg-9" style="padding-bottom: 50px;">
            <h1>Manage flights</h1>
            <br />
            <a class="btn btn-primary" asp-controller="Flight" asp-action="Create">Add New Flight</a>
            <br />
            <h2>All Flights</h2>

            @if (@Model.Count != 0)
            {
                <table class="table table-striped table-dark">
                    <thead class="rounded">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Flight Number</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var x in @Model)
                    {
                        <tr class="rounded">
                            <td>@x.Departure.Date.ToString("D")</td>
                            <td>@x.Departure.Hour.ToString("00"):@x.Departure.Minute.ToString("00")</td>
                            <td>@x.Destination</td>     
                            <td>@x.FlightNr</td>
                            <td><a class="btn btn-primary" asp-controller="Flight" asp-action="Detail" asp-route-id="@x.FlightNr">Details</a></td>
                            <td><a class="btn btn-primary" asp-controller="Flight" asp-action="Edit" asp-route-id="@x.FlightNr">Edit</a></td>
                            <td><a class="btn btn-primary" asp-controller="Flight" asp-action="Delete" asp-route-id="@x.FlightNr">Delete</a></td>
                        </tr>

                         <!-- Show Status if not 0 -->
                    }
            
                    </tbody>
                </table>
            }
            else
            {
                <p>No flights planned at the moment.</p>
            }
        </div>
</div>


<script src="~/lib/bootstrap/bootstrap-admin/popper.min.js"></script>
<link href="~/lib/bootstrap/bootstrap-admin/bootstrap-parkeasy.css" rel="stylesheet" />
<link href="~/lib/bootstrap/bootstrap-admin/dashboard.css" rel="stylesheet" />