@using AirWaze.Controllers
@using AirWaze.Entities
@model FlightCreateViewModel

@{
    Flight tempFlight = new Flight
            {
                Destination = Model.Destination,
                Departure = Model.Departure
            };
    List<Plane> availablePlanesForThisFlight = Airport.GetAvailablePlanesForFlight(tempFlight).ToList();
}

    <link rel="stylesheet" href="~/css/flightindex.css">

<div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Assign Plane</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
@if(availablePlanesForThisFlight.Count == 0)
{
    <h2>There are currently no planes available for this flight.</h2>
    <h2>Please select another Departure Time.</h2>
    <br />
    <a class="btn btn-danger active" asp-controller="Flight" asp-action="CreateAgain" asp-route-id="@Model.FlightNr">Go Back</a>
}
else
{
    <h2>Please select the plane for flight @Model.FlightNr to @Model.Destination.Name (@Model.Destination.Region)</h2>
    <br />
    <br />
<form asp-controller="Flight" asp-action="PlanePicker" asp-route-id=@Model.FlightNr method="post">

 <div class="form-group">
        <label>Available Planes:</label>
        <br />
        <select name="selectedPlaneNr">
            @foreach(var item in availablePlanesForThisFlight)
            {
                 <option value=@item.PlaneNr>@item.CurrentAirline.Name  - @item.PlaneNr</option>
            }
        </select>
    </div>
    <br />
    <br />
    <a class="btn btn-danger active" asp-controller="Flight" asp-action="CreateAgain" asp-route-id="@Model.FlightNr">Go Back</a>
    <button class="btn btn-primary active" onclick="message()" type="submit">Assign Plane</button>
    </form>
}

<script type="text/javascript">
        function message()
        {
            Swal.fire({                   
                    position: 'center',
                    icon: 'success',
                    title: 'Flight Created',
                    showConfirmButton: false,
                    timer: 1500                   
                    });
        }
    </script>
