@model UserDetailViewModel


@if (Model != null)
{
    <h1>My profile</h1>
    <br />
    <h2>@Model.FirstName @Model.LastName</h2>
    <br />
    <strong>Address:</strong>
    <br />
    <p>@Model.StreetName @Model.HouseNumber  @Model.Bus</p>
    <p>@Model.Zipcode @Model.City</p>
    <p>@Model.Country</p>
    <br />
    <strong>Email:</strong>
    <p>@Model.Email</p>
    <br />
    <strong>Phonenumber:</strong>
    <p>@Model.PhoneNumber</p>
    <br />
}
else
{
    <h1>The user is not found.</h1>    
}
<a href="/User/Index" class="btn btn-primary btn-lg">Go back </a>



