@model List<FlightListViewModel>

    <link rel="stylesheet" href="~/css/flightindex.css">

<div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
<img src="~/Images/fasttrack_departures.png" style="display: block; margin-left: auto; margin-right: auto; margin-top: -36px; width: 50%;"/>
<br />
<h2 style="border: solid 2px; border-color: darkgoldenrod ; margin-left: 35%; margin-right: 37%; font-weight: bolder;">&emsp;@DateTime.Now.DayOfWeek @DateTime.Now.ToString("g")</h2>
<br />
<br />
                <table class="table table-striped">
                    <thead style="background-color: black; color:gold; font-family:'Lucida Sans Typewriter'">
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Flight</th>
                            <th scope="col">Gate Nr.</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (@Model.Count != 0)
                        {
                            @foreach (var x in @Model)
                            {
                                <tr  style="background-color:darkgray; color:white; font-weight: bold; font-size: 20px; font-family:'Lucida Sans Typewriter'">
                                    <td>@x.Departure.Hour.ToString("00"):@x.Departure.Minute.ToString("00")</td>
                                    <td>@x.Destination.Name</td>     
                                    <td>@x.FlightNr</td>
                                    @if(@x.CurrentGate.Number != 0)
                                    {
                                        <td>@x.CurrentGate.Number</td>
                                    }
                                    else
                                    {
                                        <td> </td>
                                    }
                                    @switch (x.Status)
                                    {
                                        case 0:
                                            <td>Awaiting Approval</td>
                                            break;
                                        case 1:
                                            <td>Approved</td>
                                            break;
                                        case 2:
                                            <td>Delayed</td>
                                            break;
                                        case 3:
                                            <td>Boarding</td>
                                            break;
                                        case 4:
                                            <td>Departed</td>
                                            break;
                                        case 5:
                                            <td>Arrived</td>
                                            break;
                                        case 6:
                                            <td>Cancelled</td>
                                            break;
                                        case 7:
                                            <td>Completed</td>
                                            break;
                                        default:
                                            break;
                                    }
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>No flights planned at the moment.</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                        }
                  </tbody>
             </table>
            